	
li { float: left;
}

li a { display: block;
	width: 60px;
	text-decoration: none;
	padding: 14px 16px;
	text-align: center;
	color: #26ADE4;
}

a:link { text-decoration: none;
	color: #26ADE4;
}

ul {
	list-style-type: none;
	position: sticky;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #270A33;
}

body { background-image: url('zorasdom.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}


div {
	width: 700px;
	background-color: white;
	border: 10px solid #000;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
}

